# Example environment variables for Backend
MONGO_URI=mongodb://localhost:27017/cv_project_db
PORT=5000
JWT_SECRET=replace-with-a-secret
GROQ_API_KEY=gsk_mSvXGgiED63GRJSVlRvoWGdyb3FY5PfDewv2ogF0sBXlZl51xE0